$bgcol: #efefef;
$fontcol: #22232f;
$spin_col: rgb(218, 85, 255);
$vata_col: rgb(194, 0, 235);
$neut_col: #a0a0a0;
$alien_green: #bdff01;


$mediun: 'screen and (min-width: 577px)';
$xlarge: 'screen and (min-width: 1199.98px)';
$large: 'screen and (min-width: 992px)';
$mobile: 'screen and (max-width: 577px)';

@font-face {
  font-family: droid-mono;
  src: url(DroidSansMono.ttf)
}

//without this 100% shit scrollama and intersection observer do not work in safari!
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $bgcol;
  color: $fontcol;
  font-family: droid-mono;
  line-height: 2;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0;
  width: 100%;
  height: 100%;

  @media #{$mobile} {
    font-size: 85%;
  }
}

.reading {
  box-sizing: border-box;
  padding: 0 1em 0 1em;
  @media #{$mediun} {
    padding: 0 7.5% 0 7.5%;
  }
  @media #{$large} {
    padding: 0 15% 0 15%;
  }
  @media #{$xlarge} {
    padding: 0 25% 0 25%;
  }


  h3, h4 {
    padding: 2em 0 0 0;
    text-transform: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0 0 3em 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  @media #{$mobile} {
    background-color: darken($bgcol, 5%)
  }


  h1 {
    font-size: 3em;
    @media #{$mobile} {
      font-size: 2em;
    }
    background-image: url("glitch.jpg");
    border: 2px solid $bgcol;
    background-size: cover;
    padding-top: 3em !important;
    padding-bottom: 3em !important;
    color: $bgcol;
    margin: 0 0 10% 0;
    text-align: center;
  }

  h1, h2 {
    //vertical-align: middle;
  }
  h2 {
    @media #{$mediun} {
      text-align: center;
      margin: 0 15% 3em 15%;
    }
    font-size: 1em;
    font-weight: normal;
    margin: 0 1em 2em 1em;
  }
}

svg {
  background-color: $bgcol;
}

a {
  color: inherit;
  text-decoration: underline dashed;
  text-underline-position: under;
}

span[data-tippy] {
  background-color: rgba($alien_green, 0.3);
  cursor: help;
}

#main {
  //display: grid;
  //grid-auto-columns: 1fr;
  //grid-auto-rows: auto;
}

.h3 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  z-index: 5;
  margin: 0;
  background-image: linear-gradient($bgcol, $bgcol, $bgcol, darken($bgcol, 3%));
  transition: opacity 0.5s;
  padding: 1em 1em 1em 1em;

  @media #{$large} {
    grid-template-columns: 1fr 1fr;
    .col_block {
      grid-column: 1;
    }
  }

  h3 {
    font-size: 0.75em;
    text-transform: uppercase;
    margin: 0;

    @media #{$large} {
      font-size: 1rem;
    }
  }

  p {
    font-size: 0.75em;
    line-height: 2;
    letter-spacing: 0.075em;
    margin: 0;
  }
}

h3 {
  font-size: 1rem;
  margin: 0;
}

div#tline_text {
  margin-bottom: 3em;
}

#spread_wire {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 2fr 1fr;
  @media #{$mobile} {
    grid-template-columns: 1fr;
  }
  margin: 3em 0 2em 0;

  svg {
    padding: 2rem 0 0 0;
    box-sizing: border-box;
    @media #{$mobile} {
      border-bottom: dotted 1px darken($bgcol, 25%);
      padding: 0;
    }
    //z-index: 7;
  }

  .h3 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
  }

  div.hline_day_feed, #tline_text {
    box-sizing: border-box;
    @media #{$mediun} {
      grid-column: 2 / -1;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0 2em 0;
    margin: 0 0 0 2em;
  }

  div.hline_day_feed {
    @media #{$mediun} {
      border-bottom: dotted 1px darken($bgcol, 25%);
    }
  }

  div.hline_day_feed:last-of-type {
    margin-bottom: 10em;
  }

  p.hline {
    box-sizing: border-box;
    padding: 0 0 1em 0;
    transition: all 1s;
    opacity: 0.5;
    line-height: 1.25em;
    margin: 1em 0 1em 0;
    @media #{$mobile} {
      margin: 0;
    }
    font-size: 0.85em;
    letter-spacing: 0.05em;
    color: lighten($fontcol, 15%);

    span {
      padding: 0.2em 0 0 0;
      margin-bottom: 0.5em;

      a {
        color: inherit;
        text-transform: uppercase;
      }
    }
  }
  p.hline.active {
    opacity: 1;
  }

  p.hline.tooltiped {
    box-shadow: 0 0 1em 0.5em darken($bgcol, 15%);
    margin-right: 2em;
    margin-left: -2em;
    //z-index: 10;
  }

  figure#wire_vru {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    @media #{$mediun} {
      grid-row: 2 / 10;
    }
    @media #{$mobile} {
      background-color: $bgcol;
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
    }

    svg {
      position: sticky;
    }
  }

  rect {
    opacity: 0;
  }

  text {
    fill: $fontcol;
    @media #{$mobile} {
      font-size: 2em;
    }
  }

  #tline_tooltip {
    z-index: 10;
    margin-top: 2em;
  }

  circle.tline_day {
    stroke-width: 1;
    stroke-dasharray: 2, 3;
    stroke-linecap: 'round';
    fill-opacity: 0;
    stroke: #535353;
    pointer-events: none;
  }

  circle[stroke-opacity="0"] {
    pointer-events: none;
  }

  circle.aricle {
    stroke-width: 3;
  }
}

#screenshots {
  margin: 0 0 0 0;
  //padding: 1em;
  box-sizing: border-box;

  .desktop {
    padding: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  //для моб. версії грід в одну колонку, шириною в екран *drozdova
  @media #{$mobile} {
    grid-template-columns: 1fr;
  }

  span.big_number {
    font-size: 1.25em;
    color: $spin_col;
    font-weight: 600;
    //text-shadow: 2px 2px 1px $neut_col;
  }

  //приховати в моб. версії *drozdova
  .desktop {
    @media #{$mobile} {
      display:none;
    }
  }

  //приховати в комп.версії *drozdova
  .mobile {
    padding:1em;
    @media #{$large}, #{$xlarge} {
      display:none;
    }
    @media #{$mobile} {
      display:block !important;
    }
  }

  .mobile .h3 {
    padding: 2em 1em 0 0!important;
  }

  .h3 {
    grid-row: 1;
    grid-column: 1 / -1;
    box-sizing: border-box;
    padding: 2em 1em 0 1em;
    position: sticky;
    top: 0;
    background-color: $bgcol;
    z-index: 5;
    // в мобільній версії не треба sticky *drozdova
    @media #{$mobile} {
      position: relative;
    }

  }

  .img_container {
    grid-column: 1 / 2;
    display: flex;
    position: sticky;
    padding: 5rem 2em 5em 0;
    box-sizing: border-box;
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 6;
  }
  .img_container:first-of-type {
    justify-content: flex-start;
    align-items: flex-start;
    background-color: $bgcol;
  }

  .img_container:last-of-type {
    justify-content: flex-end;
    align-items: flex-end;
  }

  // окремі стилі для моб і звич. версій *drozdova
  .desktop img {
    max-width: 70%;
    height: auto;
    object-fit: contain;
    //opacity: 0;  //через цей рул вони глючать на першому скролі, не знизу зʼявляються, а fade in
    transition: opacity 1s ease-out 1s, margin 0.5s;
    box-shadow: 0 0 1em 0.5em rgba(20, 20, 20, 0.5);
    pointer-events: none;
  }

  //картинки в моб версії шириною 100% *drozdova
  .mobile img {
    max-width:100%;
    margin:0 auto 75px auto;
  }

  .sshot_text {
    box-sizing: border-box;
    padding: 5rem 0 1em 1em;
    grid-column: 2 / -1;
    grid-row: 2;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: $bgcol;
    z-index: 7;

    p {
      ////прибрала прозорість *drozdova
      //opacity: 0;
      transition: opacity 1s ease-out;
      padding: 0 0 2em 0;
      margin: 0;
    }
    //по дефолту ховаємо текст підказок *drozdova
    #img-2-text, #img-3-text {
      display:none;
    }
  }
}


#sites {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 2fr 1fr;
  @media #{$mobile} {
    grid-template-columns: 1fr;
  }

  .h3 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
  }

  figure {
    grid-column: 1;
    margin: 0 0 0 1em;
    padding: 0;
    @media #{$mediun} {
      grid-row: 2 / 10;
    }

    div {
      margin: 0;
      padding: 0;
    }
  }

  div#sites_text {
    z-index: 4;
    @media #{$mediun} {
      grid-column: 2;
      z-index: auto;
    }
    @media #{$mobile} {
      pointer-events: none;
      padding: 1em;
      div.sites_gap {
        pointer-events: none;
        opacity: 0;
      }

      .sites_step {
        pointer-events: auto;
        background-color: rgba($bgcol, 0.85);
      }
    }
  }

  #sites_net_svg {
    z-index: -100;
    box-sizing: border-box;
    //position: sticky;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    path {
      stroke-linecap: round;
    }
  }

  #sites_list {
    padding: 2rem 0 2rem 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    position: sticky;
    //z-index: 6;
    //align-content: flex-start;
    overflow: hidden;

    .big_text {
      z-index: 5000;
    }

    .site {
      box-sizing: border-box;
      padding: 0 1em 0 1em;

      transition: order 2s ease-out;

      div, p, svg {
        margin: 0;
        padding: 0;
        background-color: transparent;
      }
    }

    .net_target {
      transition: opacity 1s ease-out;
      fill: lighten($fontcol, 25%);
      padding: 0 1em 0 1em;

      svg {
        background-color: transparent;
        padding: 0;
      }
    }

    text {
      transition: font-size 0.2s ease-out 0.5s;
    }

    .big_text {
      font-size: 1.75em;
    }
    .half_big_text {
      font-size: 1.375em;
    }

    @media #{$mobile} {
      .big_text {
        font-size: 2em;
      }
      .half_big_text {
        font-size: 1.6em;
      }
    }

    .highlight_ru text {
      font-size: 1.375em;
      text-shadow: 0 0 3px $alien_green;
      @media #{$mobile} {
        font-size: 1.6em;
      }
    }

    .hide_non_ru {
      opacity: 0.75;
    }

    #hower_me_net {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1rem;
      top: 33%;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.25s;
      @media #{$mediun} {
        font-size: 1.25rem;
      }

      p {
        background-color: $bgcol;
        box-shadow: 0 0 0.5em 1px darken($bgcol, 10%);
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em;
      }
    }
  }
  div.sites_step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em 0 1.5em 0;
  }
}

.tippy-popper {

  div.tippy-tooltip {
    color: $fontcol;
    box-sizing: border-box;
    font-size: 0.75rem;
    padding: 0.75em !important;
    box-shadow: 0 0 0.5em 1px darken($bgcol, 10%);
    opacity: 0.85;
    margin: 0 -5% 0 0;
  }

  .tippy-backdrop {
    background-color: $bgcol;
  }

  h6 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1.25em;
    text-align: left;
    @media #{$mediun} {
      font-size: 0.65rem;
    }
  }

  p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: left;
  }
}

#howto {
  background-color: darken($bgcol, 3%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: lighten($fontcol, 20%);
  //box-shadow: 0 0 1em 0.5em darken($bgcol, 3%);
  font-size: 1em;
  @media #{$mobile} {
    grid-template-columns: 1fr;
    padding: 2em 0 2em 0;
  }

  @media #{$mediun} {
    padding: 2em 10% 2em 10%;
  }

  .h3 {
    display: block;
    padding: 0;
    margin: 0 2em 2em 2em;
    background-image: none;
    background-color: darken($bgcol, 3%);
    @media #{$mediun} {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }

    p {
      border: none;
      margin: 0;
      @media #{$mediun} {
        font-size: 1em;
      }
    }
  }

  p {
    border-top: solid $fontcol 1px;
    margin: 2em;

    .howto_emph {
      font-size: 1.25em;
    }
  }

  p.howto_link {
    font-weight: 600;
    grid-column: 1 / -1;
    font-size: 1rem;

    a {
      text-decoration: underline dotted;
      text-underline-position: under;
    }
  }
}

#topic_map {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  .h3 {
    //grid-row: 1 / 2;
    //grid-column: 1 / -1;
    position: sticky;
    top: 0;
  }

  figure {
    //grid-column: 1;
    //grid-row: 2 / 3;
    margin: 1em;
    padding: 0;
    position: sticky;
    box-sizing: border-box;

    canvas {
      //border: 1px solid darken($bgcol, 15%);
      box-sizing: border-box;
    }

    #topic_tip {
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 2em;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      pointer-events: none;
      transition: opacity 0.25s;

      nav {
        text-align: center;
        line-height: 1;
        opacity: 0;

        i {
          font-size: 2em !important;
          line-height: 1.25;
          background-color: rgba($bgcol, 0.8);
          width: 1.25em;
          height: 1.25em;
          border-radius: 100%;
          pointer-events: none;
          color: lighten($fontcol, 40%);
          cursor: pointer;
        }
        span {
          background-color: rgba($bgcol, 0.8);
          font-size: 0.85em;
          font-style: italic;
        }
      }

      p {
        background-color: rgba($bgcol, 0.8);
        box-shadow: 0 0 0.5em 1px darken($bgcol, 10%);
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em;
        opacity: 0;
        z-index: 0;
        font-size: 1.25em;
      }
    }
  }

  div.topic_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 4;
    @media #{$mobile} {
      justify-content: space-around;
      align-items: center;
    }

    p {
      width: 80%;
      background-color: rgba($bgcol, 0.85);
      z-index: 1;
      padding: 2em;
      @media #{$mediun} {
        width: 25%;
        margin-right: 4em;
      }
    }
  }

  #ukraine span {
    background-color: rgba(#e7298a, 0.5);
  }

  #poroshenko, #saakashvili {
    span {
      background-color: rgba(#1b9e77, 0.5);
    }
  }

  div#show_map {
    pointer-events: none;
    opacity: 0;
  }
}

#credits {
  //text-align: center;
  margin: 3em 0 2em 0;
  padding: 1em 15% 1em 15%;
  background-color: #2e2a2b;
  color: $bgcol;
  font-size: 0.85em;
  line-height: 1.5;

  font-family: Ubuntu, sans-serif;
  display: flex;

  img {
    max-width: 10rem;
    height: auto;
  }
  div {
    padding: 1em;
    display: flex;
    align-items: flex-start;
  }
  p {
    padding: 0;
    margin: 1em 3em 1em 3em;
  }
}